/* #region mobile */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 288px;
  justify-content: flex-start;
}
.footer .logo {
  color: #f4f4fd;
}
.footer-main {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.social-title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.fototer-social-list {
  display: flex;
  gap: 16px;
}
.footer-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.subscribe-title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form-user-email {
  padding: 7px 16px;
  background-color: transparent;
  width: 288px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-email::placeholder {
  color: inherit;
}
.form-user-email:hover,
.form-user-email:focus,
.form-user-email:focus-within {
  border-color: #31d0aa;
}

.subscribe-btn {
  max-width: 165px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}
.subscribe-btn:active {
  background-color: #31d0aa;
}
.subscribe-btn-icon {
  fill: #ffffff;
}
/* #endregion mobile */
/* #region tablet */
@media screen and (min-width: 768px) {
  .footer {
    justify-content: flex-start;
  }
  .footer-container {
    padding-left: 108px;
    flex-direction: row;
    gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .footer-logo-container {
    align-items: flex-start;
    max-width: 264px;
  }
  .footer-main {
    max-width: 264px;
  }
  .footer-social-container {
    align-items: flex-start;
  }
  .footer-subscribe-container {
    align-items: flex-start;
  }
  .subscribe-content {
    flex-direction: row;
    gap: 24px;
  }
  .form-user-email {
    width: 264px;
  }
}
/* #endregion tablet */
/* #region deskop */
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    padding-left: 15px;
    gap: 0;
  }
  .footer-logo-container {
    margin-right: 120px;
  }
  .footer-social-container {
    margin-right: 83px;
  }
}
/* #endregion deskop */
