.product-list {
  background-color: #ffffff;
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-title {
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  max-width: 1128px;
}
.product-name {
  margin-bottom: 8px;
}
.product-info {
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.product-photo {
  display: block;
}
.product-photo-content {
  position: relative;
  overflow: hidden;
}
.owerlay-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 40px;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.product-list:hover,
.product-list:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.product-list:hover .owerlay-text {
  transform: translateY(0);
}
