.team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-content {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.team-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.team-photo {
  display: block;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.team-info {
  padding: 32px 16px;
}
.team-player {
  text-align: center;
  margin-bottom: 8px;
}
.team-role {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 0;
}

.team-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 92px;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-content {
    padding: 0;
  }
  .team-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
